mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.navbar-logo {
    font-weight: 500;
    margin-left: 32px;
    font-size: 20px !important;
    color: #FFF;
}

.navbar-item {
    font-weight: 400 !important;
    color: #FFF;
}

.navbar-icon {
    margin: 16px;
    color: #FFF;
}

.navbar-spacer {
    flex: 1 1 auto;
}