<mat-toolbar color="primary">
  <a routerLink="/" mat-button class="navbar-logo">Book'd</a>
  <a routerLink="home" mat-button class="navbar-item" style="margin-left: 64px;">HOME</a>
  <a routerLink="events" mat-button class="navbar-item">EVENTS</a>
  <span class="navbar-spacer"></span>
  <div *ngIf="!isLogin">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="profile">Profile</button>
      <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>
    <button class="navbar-item" mat-button [matMenuTriggerFor]="appMenu">
      ACCOUNT
    </button>
  </div>
  <div *ngIf="isLogin">
    <a routerLink="login" mat-button class="navbar-item">
      LOGIN
    </a>
    <a routerLink="signup" mat-button class="navbar-item">
      SIGN UP
    </a>
  </div>
</mat-toolbar>

