.event {
    padding-top: 8px;
}

.event-pos {
    padding: 4% !important;
}

.details {
    width: 90%;
    position: absolute;
    top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

