<div class="content">
  <div class="event">
    <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="3">
        <mat-card class="details">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ author }}</mat-card-title>
            <mat-card-subtitle>{{ event.caption }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <h4>{{ event.event_name }}</h4>
            <p>{{ event.description }}</p>
            <mat-tab-group>
              <mat-tab label="Location"> {{ event.location }} </mat-tab>
              <mat-tab label="Capacity"> {{ event.capacity }} </mat-tab>
              <mat-tab label="Age Group"> {{ event.age_group }} </mat-tab>
              <mat-tab label="Gender Specification"> {{ event.gender_specification }} </mat-tab>
            </mat-tab-group>              
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="ticket && ticket.id; else noticket" (click)="unsubscribe()" mat-raised-button style="background-color: #D75A4A; color: white">UNSUBSCRIBE</button>
            <ng-template #noticket>
              <button (click)="subscribe()" mat-raised-button color="primary">SUBSCRIBE</button>
            </ng-template>
            <button mat-icon-button color="accent">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button color="primary">
              <mat-icon>share</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>    
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
