.hero-image {
    width: 100%;
    height: 100%;
    max-height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.discover {
    width: 60%;
    height: auto;
    margin: auto;
    top: 48vh;
}

.popular {
    position: absolute;
    top: 72vh;
}

.popular .popular-events {
    width: 100%;
    padding: 25px 200px;
}

.event {
    width: 250px;
    margin: 0 2vh 5vw 0;
    display: inline-table;
}

.event .date {
    color: #555;
    font-size: 12px;
    margin-bottom: 2vh;
}

.event .title {
    color: #3f51b5;
    font-size: 16px;
    margin-bottom: 1vh;
    text-transform: uppercase;
}

.event .desc {
    font-size: 14px;
}