<div>
<div class="content hero-image">
  <img src="/assets/imgs/home_1.jpg" class="hero-image">

  <mat-card class="discover">
    <h3 style="text-align: center">Find Your Next Event</h3>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center stretch">
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Event or Category">
        <mat-icon matSuffix>event</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Where?">
        <mat-icon matSuffix>location_on</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" style="width: 15%;">Search</button>
    </div>
  </mat-card>

  <div class="popular">
    <h1 style="width: 100%; text-align: center; margin-bottom: 5vh;">Popular Events</h1>

    <div class="popular-events">
      <mat-card class="event">
        <img mat-card-image src="/assets/imgs/home_1.jpg">
        <mat-card-content>
          <div class="date">FRI, 20 Jul 08:30</div>
          <div class="title">The Ban Boys</div>
          <div class="desc">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.</div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="event">
          <img mat-card-image src="/assets/imgs/home_1.jpg">
          <mat-card-content>
            <div class="date">FRI, 20 Jul 08:30</div>
            <div class="title">The Ban Boys</div>
            <div class="desc">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.</div>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
      </mat-card>
      <mat-card class="event">
          <img mat-card-image src="/assets/imgs/home_1.jpg">
          <mat-card-content>
            <div class="date">FRI, 20 Jul 08:30</div>
            <div class="title">The Ban Boys</div>
            <div class="desc">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.</div>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
</div>