<div class="container">
  <mat-card>
    <mat-card-title>
      <div>LOG IN</div>
      <div *ngIf="sentRequest && !isAuthenticated">
        <mat-chip-list></mat-chip-list>
        <mat-chip class="error" style="background-color: #FF4415; align-self: center;" selected="true">
            {{ error }}
        </mat-chip>
      </div>
    </mat-card-title>
    <form class="form">
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="email" name="email" type="email" placeholder="Email" [formControl]="emailFormControl"
        [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password" [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button mat-raised-button color="primary" (click)="authenticate()">LOG IN</button>
      </div>
    </form>
  </mat-card>
</div>