.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.full-width {
    width: 100%;
}
mat-card {
    width: 40%;
    padding: 4%;
    padding-top: 2%;
    margin: 15%;
    margin-top: 10%;
    margin-left: 25%;
    position: relative;
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
}
mat-card-title {
    text-align: left;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
button {
    margin-left: 70%;
}