<div class="container">
  <mat-card>
    <mat-card-title>
      <div>PROFILE</div>
      <hr>
    </mat-card-title>
    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step>
        <form>
          <ng-template matStepLabel>Update profile</ng-template>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Full name</mat-label>
            <input matInput [(ngModel)]="user.name" name="name" type="text" placeholder="Full name" required>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="user.email" name="email" type="email" placeholder="Email" required>
          </mat-form-field>

          <mat-form-field class="full-width" *ngIf="hasRole">
              <mat-select placeholder="Gender" [(value)]="role.gender" name="gender">
                <mat-option value="male">male</mat-option>
                <mat-option value="female">female</mat-option>
              </mat-select>
            </mat-form-field>
          <div>
            <button mat-button mat-raised-button color="primary" (click)="updateProfile()">UPDATE</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form>
          <ng-template matStepLabel>Update password</ng-template>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Previous password</mat-label>
            <input matInput name="prevPassword" type="text" placeholder="Previous password" required>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>New password</mat-label>
            <input matInput name="newPassword" type="email" placeholder="New password" required>
          </mat-form-field>
          <div>
            <button mat-button mat-raised-button color="primary" (click)="updatePassword()">UPDATE</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>