<div class="contianer">
  <mat-card>
    <mat-card-title>
      <p class="header">{{ user.name }}</p>
      <hr>
    </mat-card-title>
    <div>
      <div>
        <span>
          <p><strong>Email Address</strong></p>
          <p>{{ user.email }}</p>
        </span>
        <span class="profile-pic">
          <mat-icon style="font-size: 40px; margin-left: -10px;">perm_identity</mat-icon>
          <p>ADD A PROFILE PICTURE</p>
        </span>
      </div>
      <a routerLink="/profile/edit" mat-button mat-raised-button color="primary">UPDATE PROFILE</a>
    </div>
    <div>
      <hr style="margin-top: 3%">
      <p class="header">Events</p>
      <mat-table #table [dataSource]="dataSource">

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.event_name}} </mat-cell>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.event_date_time}} </mat-cell>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="redirect(row.id)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[7, 14, 28]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
</div>