.container {
    width: 100%;
    height: 100%;
}
mat-card {
    width: 65%;
    margin-top: 7%;
    margin-left: 17%;
}
.header {
    font-size: 26px;
}
.profile-pic {
    width: 20%;
    height: 130px;
    display: inline-block;
    margin-left: 70%;
    margin-bottom: 2%;
    margin-top: -7%;
    padding: 1%;
    padding-top: 2%;
    border: 1px #00000075 solid;
    border-radius: 2px;
    text-align: center;
}
mat-row {
    cursor: pointer;
}