.events {
    padding-top: 8px;
}

.categories {
    width: 80%;
    position: absolute;
    top: 1vh;
}

.available-events {
    width: 100%;
    position: absolute;
    top: 1vh;
}

.event {
    width: 90%;
    margin: 0 5px 10px 5px;
}

.bg {
    background: lightblue;
}

.event .details {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.event .details .date {
    color: #555;
    font-size: 12px;
    margin-bottom: 2vh;
}

.event .details .title {
    color: #3f51b5;
    font-size: 16px;
    margin-bottom: 1vh;
    text-transform: uppercase;
}

.event .details .desc {
    font-size: 14px;
}

.event .details .actions {
    position: absolute;
    bottom: 0;
    height: 40px;
}

.event .details .actions .left {
    display: inline-block;
}

.event .details .actions .right {
    display: inline-block;
}