<div class="content">
  <div class="events">
    <mat-grid-list cols="4" gutterSize="30px" rowHeight="1:2">
      <mat-grid-tile colspan="1" rowspan="2">
        <mat-card class="categories">
          <mat-nav-list>
            <div style="padding: 16px">
              CATEGORIES
            </div>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let category of categories">
              <a matLine href="#">{{ category.name }}</a>
              <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>
          </mat-nav-list>          
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="5">
        <div *ngIf="events" class="available-events">
          <mat-card *ngFor="let event of events" class="event">
            <mat-grid-list cols="3" gutterSize="15px" rowHeight="150px">
              <mat-grid-tile colspan="1">
                <img style="width: 100%; height: 100%" src="/assets/imgs/home_1.jpg">
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <div class="details">
                  <div class="date">{{ event.event_date_time }}</div>
                  <div class="title">{{ event.event_name }}</div>
                  <div class="desc">{{ event.description }}</div>
                  <div class="actions">
                    <div class="left">
                      <a [routerLink]="event.id" mat-raised-button color="primary">VIEW</a>
                    </div>
                    <div class="right">
                      <button mat-icon-button color="accent">
                        <mat-icon>favorite</mat-icon>
                      </button>
                      <button mat-icon-button color="primary">
                        <mat-icon>share</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
