<div class="container">
  <mat-card>
    <mat-card-title>
      <div>SIGN UP</div>
    </mat-card-title>
    <form class="signup-form">
      <mat-form-field class="signup-full-width" appearance="outline">
        <mat-label>Full name</mat-label>
        <input matInput [(ngModel)]="user.name" name="name" type="text" placeholder="Full name" [formControl]="nameFormControl"
        [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="signup-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email" name="email" type="email" placeholder="Email" [formControl]="emailFormControl"
        [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="signup-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="user.password" name="password" type="password" placeholder="Password" [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button mat-raised-button color="primary" (click)="signup()">SIGN UP</button>
      </div>
    </form>
  </mat-card>
</div>