/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
    font-family: 'Roboto',sans-serif;
}

.content {
    margin-top: 64px;
}